/* Mobile general */
@media (max-width: 768px) {

.popup{
width: 100% !important;
}

.card-container{
  width: 100% !important;
}

.card-title{
  font-size: 5rem !important;
}

.card-content-txt{
  padding-top: 1rem !important;
  font-size: 1.5rem !important;
}

.subtitle-txt{
text-align: center;
}

.task-card-title{
  font-size: 1.7rem !important;
}

}

/* iPhone 5 */
@media (max-width: 320px){
.title-div{
  text-align: center !important;
}

.title-txt{
  font-size: 3.5rem !important;
}

#img, #img2{
  height: 3rem !important;
}

.task-card-title{
  font-size: 1.5rem !important;
}

.btn-submit{
  margin: 0 auto !important;
  padding: 0 !important
}
}


/* iPad */
@media (min-width: 768px) and (max-width: 1024px) {
  .card-container{
    width: 100% !important;
  }

  .btn-card, .btn-save{
    font-size: 1.5rem !important;
  }
}